* {
  padding: 0;
  margin: 0;
}
body {
  background: white;
}

.site-title {
  font-family: Arial;
  font-weight: 100;
}
/* * {
  box-sizing: border-box;
}
/* 
body {
  margin: 0;
  background-color: white;
} */
*/

/* Header */
/* .gitLink {
  display: flex;
  gap: 25px;
  font-size: 30px;
} */

/*  */

/* .nav {
  background-color: whitesmoke;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  width: auto;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 1px 1px black;
}

.site-title {
  font-size: 2rem;
} */

/* .nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.nav a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
} */

/* .nav li:hover {
  background-color: rgba(151, 179, 226, 0.825);
  color: white;
}

.nav a:active {
  color: black;
} */

/* All projekt */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.allProjekt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* The clock projekt */

.theClock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.backClock {
  display: flex;
  text-align: center;
  width: auto;
  background: whitesmoke;
  height: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px black;
}
.clockTime {
  color: black;
  font-size: 5rem;
}

.borderClock {
  list-style: none;
  text-align: center;
}
.theClockImg {
  width: 30%;
  height: 30%;
  border: 1px solid black;
}

/*  */

/* Image slider style */

.fa-arrow-left,
.fa-arrow-right {
  color: #83a1b9;
}

.fa-arrow-right:hover {
  color: lightblue;
  cursor: pointer;
}
.fa-arrow-right:active {
  color: darkblue;
}
.fa-arrow-left:hover {
  color: lightblue;
  cursor: pointer;
}
.fa-arrow-left:active {
  color: darkblue;
}

/*  */

/* Style cv */
/* Phone style */

@media screen and (min-width: 768px) {
}
/* 
.theCv {
  display: grid;
  grid-template-columns: 50% 50%;
  background: whitesmoke;
  width: 50%;
  justify-content: center;
}

.theLeftSide {
  width: 100%;
}
.theRightSide {
  width: 100%;
}

.contactMe {
  text-align: center;
}
.theRight {
  text-align: center;
} */
/*  */
