.divProjekt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divStyleImgSlider {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px black;
  margin-bottom: 150px;
}

.singleSliderImg {
  width: 180px;
  height: 100px;
  background-repeat: round;
}

.projectName {
  margin-top: 10px;
  font-size: 20px;
}

.projectName h3 {
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}
