.weatherHeight {
  height: 90vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
  width: 80%;
  height: 400px;
  background-color: whitesmoke;
  margin: auto;
}

.inputAndButton {
  display: flex;
}

.searchInput,
.searchBtn {
  padding: 10px;
}

.searchInput:focus {
  outline: none;
}

.layoutWeather {
  background: #a9a9cf;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-size: 25px;
  color: white;
  box-shadow: 2px 2px 2px black;
}

.error {
  text-align: center;
  font-size: 25px;
}
