.footer {
  display: flex;
  height: 60px;
  background: #83a1b9;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  gap: 5px;
  font-family: Arial;
  font-weight: 100;
}

.footer h4 {
  font-family: Arial;
  font-weight: 100;
  font-size: 15px;
}

.footer span {
  font-size: 15px;
}
