/* For phone */

.homeStyle {
  display: flex;
  /* height: 90vh; */
}
.searchAndProject {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.layoutSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 2px 2px black;
  background: white;
  border-radius: 5px;
  padding: 25px;
  height: auto;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.layoutSearch div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.layoutSearch h3 {
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.layoutSearch a {
  text-decoration: none;
  color: gray;
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;

  text-decoration: 1px underline black;
}

.homeImgMe {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.homeTicTacToe {
  background-color: whitesmoke;
}

.tictactoehome {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
}

/* Img slider home */

.divStyleImgSliderHome {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  height: auto;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
}

.borderForSliderImgSlider {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 2px black;
}

.singleSliderImgHome {
  width: 200px;
  height: 200px;
  background-repeat: round;
}

.projectNameHome {
  background-color: gray;
  color: white;
  width: 200px;
}
/*  */

/*  */

.myDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.now {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  width: 150px;
  border-radius: 5px;
}

/*  */

.myReactImg {
  width: 150px;
  height: 150px;
}

.myTodoImg {
  width: 150px;
  height: 150px;
}

.searchImg {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  /* For computer and smartpad */
  .layoutSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 2px 2px black;
    background: white;
    border-radius: 5px;
    padding: 25px;
    width: auto;
    height: auto;
    margin: 50px;
  }

  .singleSliderImg {
    width: 200px;
    height: 200px;
    background-repeat: round;
  }
}
/*  */
