* {
  padding: 0;
  margin: 0;
}
body {
  background: white;
}

.site-title {
  font-family: Arial;
  font-weight: 100;
}

/* All projekt */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.allProjekt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Image slider style */

.fa-arrow-left,
.fa-arrow-right {
  color: #83a1b9;
}

.fa-arrow-right:hover {
  color: lightblue;
  cursor: pointer;
}
.fa-arrow-right:active {
  color: darkblue;
}
.fa-arrow-left:hover {
  color: lightblue;
  cursor: pointer;
}
.fa-arrow-left:active {
  color: darkblue;
}

/*  */

/* Style cv */
/* Phone style */

@media screen and (min-width: 768px) {
}
/* 
.theCv {
  display: grid;
  grid-template-columns: 50% 50%;
  background: whitesmoke;
  width: 50%;
  justify-content: center;
}

.theLeftSide {
  width: 100%;
}
.theRightSide {
  width: 100%;
}

.contactMe {
  text-align: center;
}
.theRight {
  text-align: center;
} */
/*  */
