.divProjekt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divStyleImgSlider {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px black;
  margin-bottom: 50px;
}

.singleSliderImg {
  width: 180px;
  height: 100px;
  background-repeat: round;
}

.projectName {
  margin-top: 10px;
  font-size: 20px;
}

.projectName h3 {
  font-family: Arial;
  font-weight: 100;
  font-size: 20px;
}

.allCards h2 {
  text-align: center;
  font-family: Arial;
  font-weight: 100;
  font-size: 30px;
  /* background-color: lightgray; */
  /* box-shadow: 0 1px 1px black; */
  color: black;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 20px;
  margin-bottom: 50px;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  /* align-content: center; */
  /* justify-content: center; */
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  height: auto;
  align-items: center;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  box-shadow: 0 1px 1px 1px black;
  border-radius: 5px;
}
.card1.activate1,
.card2.activate2,
.card3.activate3,
.card4.activate4 {
  box-shadow: 0 1px 1px 1px black;
  border-radius: 5px;
  height: auto;
}
/* 
.card2.activate2 {
  box-shadow: 0 1px 1px 1px black;
  border-radius: 5px;
  height: auto;
}

.card3.activate3 {
  box-shadow: 0 1px 1px 1px black;
  border-radius: 5px;
  height: auto;
}

.card4.activate4 {
  box-shadow: 0 1px 1px 1px black;
  border-radius: 5px;
  height: auto;
} */

.backgroundAboutTicTacToe {
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: auto;
  text-align: center;
}

.backgroundAboutTodo {
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: auto;
  text-align: center;
}

.backgroundAboutWeather {
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: auto;
  text-align: center;
}

.backgroundAboutClock {
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: auto;
  text-align: center;
}

.myTicImg,
.myTodoImg,
.myWeatherImg,
.myClockImg {
  width: 150px;
  height: 150px;
}

.btn1 {
  border-radius: 25px;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  color: white;
  background-color: gray;
}

.btn1:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
}

.btn1:active {
  background-color: gray;
  color: white;
}

.borderAroundBtnAndText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
